.protocol-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}