@keyframes buttonPressedAnimation {
  from {
    background-position: 0px;
  }
  to {
    background-position: -210px; /* Assuming the sprite sheet contains frames placed horizontally */
  }
}

@keyframes buttonReleasedAnimation {
  from {
    background-position: -210px;
  }
  to {
    background-position: -420px; /* Assuming the sprite sheet contains frames placed horizontally */
  }
}

.sprite-button {
  width: 20vw; /* 40% of the viewport width */
  height: 0; /* Maintain aspect ratio */
  padding-bottom: 100%;
  background-color: transparent; /* Remove default background color */
  border: none;
  background-repeat: no-repeat;
  background-image: url('../svg/arrow-left-bold.svg');
}

.sprite-button-pressed {
  animation: buttonPressedAnimation 0.2s steps(2) forwards;
}

.sprite-button-released {
  animation: buttonReleasedAnimation 0.2s steps(2) forwards;
}

.sprite-button-move-left {
  /* do nothing */
} 
.sprite-button-move-right {
  /* rotate the SVG 180 degrees */
  transform: rotate(180deg);
}   
.sprite-button-move-up {
  /* rotate the SVG 90 degrees */
  transform: rotate(90deg);
}
.sprite-button-move-down {
  /* rotate the SVG -90 degrees */
  transform: rotate(-90deg);
}